body {
    color: white;
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 0;
}

h4 {
    margin-top: 0;
    font-style: italic;
}

header {
    background-color: rgb(53, 63, 78);
    margin: 0;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#paragraph > p {
    max-width: 40vw;
    font-size: 20px;
}

main {
    background-image: url("./images/poster-dimmed-blured-upscaled.png");
    margin: 0;
    margin-top: 10vh;
    background-size: cover;
    height: 90vh;
    padding: 10px;
}

